/* Boxshadows */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

a {
  text-decoration: none; }

body {
  text-align: center; }

h1 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem; }

h2 {
  font-size: 1.875rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.4rem; }

h3 {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem; }

h4 {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem; }

p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem; }

.primary-color, .secondary-color, .schmuckfarbe, .spackfarbe {
  width: 25%;
  height: 50px;
  background: #f1f1f1;
  float: left; }

.primary-color {
  background: #f1f1f1; }

.secondary-color {
  background: #333333; }

.schmuckfarbe {
  background: rgba(255, 165, 0, 0.5); }

.spackfarbe {
  background: rgba(13, 165, 196, 0.6); }

.wrapper {
  width: 95%;
  margin: auto;
  max-width: 1200px; }

.colors {
  width: 100%;
  margin: auto; }
  .colors h2 {
    text-align: center; }

.buttons {
  width: 100%;
  margin-top: 2.5rem; }
  .buttons article {
    width: 75%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 2rem; }

.btn1, .btn2, .btn3, .btn4, .btn5 {
  width: 150px;
  height: 50px;
  background-color: rgba(13, 165, 196, 0.6);
  line-height: 50px; }

.btn1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn1:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.btn2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn2:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.btn3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn3:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.btn4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn4:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.btn5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn5:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.cards {
  margin-bottom: 100px; }
  .cards .cardwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .cards .cardwrapper article {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }

.qoutecard {
  width: 430px;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .qoutecard .card1_frame {
    width: 90%;
    height: 92.5%;
    margin: 5%;
    background: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .qoutecard .card1_frame img {
      float: right;
      height: 100px;
      border-radius: 250px;
      margin-top: 20px;
      margin-right: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .qoutecard .card1_frame .border {
      position: relative;
      top: 35px;
      left: 10px;
      width: 6rem;
      height: 1rem;
      background-color: rgba(255, 165, 0, 0.5);
      float: left; }
    .qoutecard .card1_frame h2 {
      text-align: left;
      padding-top: 1rem;
      padding-left: 1rem;
      text-transform: uppercase; }
    .qoutecard .card1_frame p {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px; }
    .qoutecard .card1_frame .qoutel, .qoutecard .card1_frame .qouter {
      font-size: 7rem;
      font-family: helvetica;
      line-height: 1; }
    .qoutecard .card1_frame .qoutel {
      margin-top: -60px; }
    .qoutecard .card1_frame .qouter {
      margin-bottom: -20px;
      margin-left: 100px; }
    .qoutecard .card1_frame .btn1 {
      margin: auto; }

.kontaktcard {
  width: 430px;
  height: 280px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 40px; }
  .kontaktcard .card1_frame {
    width: 90%;
    height: 85.5%;
    margin: 5%;
    background: #333333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .kontaktcard .card1_frame .border {
      position: relative;
      top: 35px;
      left: 10px;
      width: 6rem;
      height: 1rem;
      background-color: rgba(255, 165, 0, 0.5);
      float: left; }
    .kontaktcard .card1_frame h2 {
      text-align: left;
      padding-top: 1rem;
      padding-left: 1rem;
      text-transform: uppercase;
      color: white; }
    .kontaktcard .card1_frame p {
      color: white;
      text-align: left;
      margin-top: -5px; }

.social {
  margin-top: -150px;
  margin-left: 60%;
  width: 35%; }
  .social img {
    width: 40px;
    margin-left: 10px; }

.soundcard {
  width: 430px;
  height: 280px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .soundcard .card1_frame {
    width: 90%;
    height: 85.5%;
    margin: 5%;
    background: #333333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .soundcard .card1_frame .soundcloud {
      width: 95%;
      margin: auto;
      margin-top: 55px; }
    .soundcard .card1_frame .border {
      position: relative;
      top: 35px;
      left: 10px;
      width: 6rem;
      height: 1rem;
      background-color: rgba(255, 165, 0, 0.5);
      float: left; }
    .soundcard .card1_frame h2 {
      text-align: left;
      padding-top: 1rem;
      padding-left: 1rem;
      text-transform: uppercase;
      color: white; }

.topbar {
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #f1f1f1;
  padding-top: 15px;
  position: fixed;
  z-index: 99; }

.topbar_content {
  max-width: 1200px;
  margin: auto; }
  .topbar_content .logo {
    width: 200px;
    float: left;
    margin-left: 10%; }
  .topbar_content nav ul {
    margin-left: 55%;
    padding-top: 13px; }
    .topbar_content nav ul li {
      float: left;
      margin-right: 10%;
      color: black;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif; }

.topbar.small {
  height: 50px; }
  .topbar.small .logo {
    width: 100px;
    margin-left: 10%;
    margin-top: 3px; }
  .topbar.small nav ul {
    padding-top: 0; }

header {
  width: 100%;
  height: 650px;
  background: url(/bilder/bg_big.jpg);
  background-size: cover;
  background-position: center; }
  header h1 {
    width: 50%;
    max-width: 600px;
    margin: auto;
    position: relative;
    top: 250px;
    background-color: #f1f1f1; }
  header h2 {
    width: 40%;
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 260px;
    background-color: #f1f1f1; }

.cta_btn1 {
  margin: auto;
  position: relative;
  top: 345px;
  pointer: finger;
  color: white; }

.cta_btn1, .cta_btn2, .cta_btn3, .cta_btn4, .cta_btn5 {
  width: 30%;
  height: auto;
  background-color: rgba(13, 165, 196, 0.6);
  line-height: 50px;
  max-width: 300px; }

.cta_btn1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .cta_btn1:hover {
    background-color: orange;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.cta_btn2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .cta_btn2:hover {
    background-color: orange;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.cta_btn3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .cta_btn3:hover {
    background-color: orange;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.cta_btn4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .cta_btn4:hover {
    background-color: orange;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.cta_btn5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .cta_btn5:hover {
    background-color: orange;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.teiler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .teiler .teiler_big {
    width: 500px;
    height: 500px;
    text-align: left;
    background-image: url(/bilder/cover.jpeg);
    background-size: 100%; }
    .teiler .teiler_big img {
      width: 500px; }
    .teiler .teiler_big p {
      text-align: center;
      font-size: 3rem; }
    .teiler .teiler_big .after {
      margin-top: 375px;
      width: 100%;
      height: 125px;
      display: none; }
    .teiler .teiler_big:hover .after {
      display: block;
      background: rgba(255, 255, 255, 0.8); }
  .teiler article {
    width: 50%; }
    .teiler article .teiler_sml, .teiler article .teiler_sml2 {
      height: 250px; }
    .teiler article .teiler_sml {
      background: url(/bilder/the_band.jpeg);
      background-size: cover;
      background-position: center; }
    .teiler article .teiler_sml2 {
      background: black; }

.teiler2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .teiler2 article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .teiler2 .teiler_big {
    width: 50%;
    height: 500px;
    background-color: rgba(255, 165, 0, 0.5); }
    .teiler2 .teiler_big h2 {
      margin-top: 50px;
      text-align: left;
      margin-left: 40px;
      text-transform: uppercase; }
    .teiler2 .teiler_big article {
      width: 100%;
      float: left; }
      .teiler2 .teiler_big article p {
        text-align: left; }
  .teiler2 .teiler_xs1, .teiler2 .teiler_xs2, .teiler2 .teiler_xs3, .teiler2 .teiler_xs4 {
    width: 250px;
    height: 250px; }
  .teiler2 .teiler_xs1 {
    background-color: rgba(13, 165, 196, 0.6);
    line-height: 250px; }
    .teiler2 .teiler_xs1 img {
      width: 100px; }
  .teiler2 .teiler_xs2 {
    background: url(/bilder/zawinul.jpeg);
    background-position: center;
    background-size: 250px; }
  .teiler2 .teiler_xs3 {
    background: url(/bilder/zappa.jpeg);
    background-position: center;
    background-size: auto 250px; }
  .teiler2 .teiler_xs4 {
    background: url(/bilder/duke.jpeg);
    background-position: center;
    background-size: 250px; }

/*# sourceMappingURL=style.css.map */