/* Boxshadows */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

body {
  text-align: center; }

h1 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem; }

h2 {
  font-size: 1.875rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.4rem; }

h3 {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem; }

h4 {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem; }

p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem; }

.primary-color, .secondary-color, .schmuckfarbe, .spackfarbe {
  width: 25%;
  height: 50px;
  background: #f1f1f1;
  float: left; }

.primary-color {
  background: #f1f1f1; }

.secondary-color {
  background: #333333; }

.schmuckfarbe {
  background: rgba(255, 165, 0, 0.5); }

.spackfarbe {
  background: rgba(52, 136, 153, 0.5); }

.wrapper {
  width: 95%;
  margin: auto;
  max-width: 1200px; }

.colors {
  width: 100%;
  margin: auto; }
  .colors h2 {
    text-align: center; }

.buttons {
  width: 100%;
  margin-top: 2.5rem; }
  .buttons article {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem; }

.btn1, .btn2, .btn3, .btn4, .btn5 {
  width: 150px;
  height: 50px;
  background-color: rgba(52, 136, 153, 0.5);
  line-height: 50px; }

.btn1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn1:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.btn2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn2:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.btn3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn3:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.btn4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn4:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.btn5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn5:hover {
    background-color: rgba(255, 165, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.cards {
  margin-bottom: 100px; }

.qoutecard {
  width: 430px;
  height: 600px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 2rem; }
  .qoutecard .card1_frame {
    width: 90%;
    height: 92.5%;
    margin: 5%;
    background: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .qoutecard .card1_frame img {
      float: right;
      height: 100px;
      border-radius: 250px;
      margin-top: 20px;
      margin-right: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .qoutecard .card1_frame .border {
      position: relative;
      top: 65px;
      left: 10px;
      width: 6rem;
      height: 1em;
      background-color: rgba(255, 165, 0, 0.5);
      float: left; }
    .qoutecard .card1_frame h2 {
      text-align: left;
      padding-top: 3rem;
      padding-left: 1rem;
      text-transform: uppercase; }
    .qoutecard .card1_frame p {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px; }
    .qoutecard .card1_frame .qoutel, .qoutecard .card1_frame .qouter {
      font-size: 7rem;
      font-family: helvetica;
      line-height: 1; }
    .qoutecard .card1_frame .qoutel {
      margin-top: -60px; }
    .qoutecard .card1_frame .qouter {
      margin-bottom: -20px;
      margin-left: 100px; }
    .qoutecard .card1_frame .btn1 {
      margin: auto; }

.kontaktcard {
  width: 430px;
  height: 600px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .kontaktcard .card1_frame {
    width: 90%;
    height: 92.5%;
    margin: 5%;
    background: #333333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .kontaktcard .card1_frame .border {
      position: relative;
      top: 65px;
      left: 10px;
      width: 6rem;
      height: 1em;
      background-color: rgba(255, 165, 0, 0.5);
      float: left; }
    .kontaktcard .card1_frame h2 {
      text-align: left;
      padding-top: 3rem;
      padding-left: 1rem;
      text-transform: uppercase;
      color: white; }

/*# sourceMappingURL=style.css.map */
